.p {
    margin: 0;
}

.s {
    margin-bottom: 23px;
    font-size: 14px;
    line-height: 21px;
}

.m {
    font-size: 16px;
    line-height: 28px;
}

.l {
    font-size: 18px;
    line-height: 32px;
}
