.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 25px;
    padding-bottom: 40px;
    width: 100%;
}

.header__link {
    font-size: 40px;
    font-weight: 300;
    line-height: 54px;
}

/* .header__github {
    position: relative;
}

.header__github::after {
    content: "";
    display: block;
    width: 24px;
    height: 24px;
    background-color: var(--white);
    mask: url("../../../public/github.svg") no-repeat center / 24px 24px;
    transition: background-color 0.2s;
}

@media (any-hover: hover) {
    .header__github:hover::after {
        background-color: #1473e6;
    }
} */

@media (max-width: 500px) {
    .header__link {
        font-size: 34px;
        line-height: 45px;
    }
}
